.box{
    background-color: rgb(189, 189, 112);
    
    height: 400px;
    width: 1150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.red{
    height: 100px;
    width: 150px;
    background-color: red;
}
.blue{
    height: 100px;
    width: 150px;
    background-color: blue;
}

.green{
    height: 100px;
    width: 150px;
    background-color: green;
}

.black{
    height: 100px;
    width: 150px;
    background-color: black;
}



